{% extends "template.html" %}

{% block title %}
SulyApp
{% endblock %}
{% block styles %}
{{super()}}

{% endblock %}

{% block content %}
<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Sulyapp</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li><a href="{{ url_for('admin') }}">Admin</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav> -->
  <link rel="stylesheet" type="text/css" href="static/notification.css">
  <!-- <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style> -->
<table>
    <tr id="header">
        <th>ID</th>
        <th>Email</th>
        <th>Username</th>
        <!-- <th>Password</th> -->
        <th colspan="2">Actions</th>
        
    </tr>
    {% for u in context.users %}
    <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.username }}</td>
        <td>
            <a role="button" class="btn btn-success btn-lg" href="{{ url_for('update_user', id=u.id) }}">update</a>
        </td>
        <td>
            <a role="button" class="btn btn-danger btn-lg" href="{{ url_for('delete_user', id=u.id) }}" >delete</a>
        </td>
        
    </tr>
    {% endfor %}


</table>
{% endblock %}