{% extends "template.html" %}

{% block title %}
SulyApp
{% endblock %}
{% block styles %}
{{super()}}

{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="static/notification.css">
  <!-- <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style> -->
<table>
    <tr id="header">
        <th>ID</th>
        <th>Email</th>
        <th>Username</th>
        <!-- <th>Password</th> -->
        <th colspan="2">Actions</th>
        
    </tr>
    {% for u in context.users %}
    <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.username }}</td>
        <td>
            <a role="button" class="btn btn-success btn-lg" href="{{ url_for('update_user', id=u.id) }}">update</a>
        </td>
        <td>
            <a role="button" class="btn btn-danger btn-lg" href="{{ url_for('delete_user', id=u.id) }}" >delete</a>
        </td>
        
    </tr>
    {% endfor %}


</table>
{% endblock %}