{% extends "template.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"
  integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sulyapp</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('admin') }}">Admin</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="{{ url_for('dashboard') }}">Dashboard <span class="sr-only">(current)</span></a></li> -->
        <!--<li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>-->
        <!-- <li><a href="{{ url_for('notification') }}">Notifications</a></li>
        <li><a href="{{ url_for('crimes') }}">Videos</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ url_for('cctv') }}">CCTV 1 <span class="sr-only">(current)</span></a></li>
        <li><a href="">CCTV 2</a></li>
        <li><a href="">CCTV 3</a></li>
        <li><a href="">CCTV 4</a></li>
        <li><a href="">CCTV 5</a></li>
      </ul> -->
      <!--<ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul> -->
    <!-- </div> -->
      <h1>Welcome, {{ name }}</h1><br>
      <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
      </div>
  <!-- </div>
</div> -->
{% endblock %}