{% extends "template.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<!-- <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}"> -->
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"
  integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <h1>Welcome, {{ name }}</h1><br>
      <canvas id="myChart" max-width="100" max-height="100"></canvas>
      <script>
  //        function getRandomColor() {
  //   var letters = '0123456789ABCDEF'.split('');
  //   var color = '#';
  //   for (var i = 0; i < 6; i++) {
  //     color += letters[Math.floor(Math.random() * 16)];
  //   }
  //   return color;
  // }
  var ctx = document.getElementById('myChart').getContext('2d');
  //ar labels = "{{ labels|safe }}";
  //var values = "{{ values|safe }}";
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ labels | safe }},
    datasets: [{
    label: 'Number of Detections for CCTV 1',
    data: {{ values | safe }},
    backgroundColor: "rgba(255,82,82,0.3)",
    borderWidth: 2,
    borderColor: "rgb(255,82,82)",
    fill: true,
    lineTension: 0.4,
  },
  {
    label: 'Number of Verified Detections for CCTV 1',
    data: {{ values1 | safe }},
    backgroundColor: "rgba(72,191,83,0.3)",
    borderWidth: 2,
    borderColor: "rgb(72,191,83)",
    fill: true,
    lineTension: 0.4,
  }]
    },
  options: {
    spanGaps: true,
      scales: {
      y: {
        beginAtZero: true
      }

    }
  }
  });
      </script>
{% endblock %}

