<body style="background: rgb(0,3,6);
background: linear-gradient(90deg, rgba(0,3,6,1) 0%, rgba(17,39,62,1) 35%, rgba(215,32,40,1) 100%);">
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="logo"></div>
    <div class="clearfix"></div>
  </div>
  <div class="col-md-6">
<div class="container wrapper fadeInDown ">
  <div id="formContent">
    <!-- Tabs Titles -->

    <form class="form-signin" method="POST" action="/login">
      <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
      <button class="btn btn-lg btn-primary btn-block btnx btn-1" type="submit">Sign in</button>
      <!-- btn btn-lg btn-primary btn-block -->
      <br>
      <a href="{{ url_for('signup') }}">No Account? Sign up</a>
      <br> 
      <br> 
    </form>
    
  </div>
  
</div>
</div>
</div>

{% endblock %}
